@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

body {
  color: white;
  font-family: 'Gilroy';
  background-color: var(--background);
  
}


@keyframes pulse-scale {
  0%, 100% { transform: scale(0.8); opacity: 0.5; }
  50% { transform: scale(1.2); opacity: 1; }
}

